<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-links">
            <ul class="footer-group">
              <li><a href="https://www.google.com/maps/place/1569+E+21st+St,+Los+Angeles,+CA+90011/@34.0187371,-118.2474923,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c885b504c813:0x3df8916c47834a19!8m2!3d34.0187327!4d-118.2453036" target="_blank"><i class="fa fa-map-marker map-icon" aria-hidden="true"></i> 1569 E 21st Los Angeles, CA 90011</a></li>
              <li><a href="tel:+1-213-747-3773"><i class="fa fa-phone phone-icon" aria-hidden="true"></i> Call Us: (213) 747-3773</a></li>
              <li><a href="https://www.facebook.com/GonzaElectric/" id="facebook" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
              <li><a href="https://www.yelp.com/biz/gonza-electric-los-angeles" id="yelp" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i> Yelp</a></li>
              <li class="pull-left copyright"><a href="http://www.ericgonzalez1994.com/" target="_blank">Copyright © <span id="yellow">Eric Gonzalez</span>, All Rights Reserved</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>